bin/imgflo
bin/imgflo-runtime
install/
*~
Procfile
out.png
node_modules
*.creator.user
*teststemp/
testtemp*
*cache/
temp/
spec/data/*.out.png
spec/data/*-diff.png
spec/data/*.out.jpg
spec/data/*.out.jpeg
spec/data/*.out*
testout.png
*.includes
*.autosave
.noflo.json
*.db
graphs/*.json.info
