/* Main layout: layout.gss */


/* Style */
img {
   padding:1px;
   border:1px solid #021a40;
}

.graphEntry .selected {
    color: #333333;
}

label {
    text-align: right;
    padding-right: 10px;
}
label span {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
}

#runButton {
    margin-left: 110px;
}

ul {
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
}

#historySection, #graphsSection {
    overflow-y: scroll;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#version {
    display: none;
}

/* Debug colors */
.debug #apiSection {
    background-color: yellow;
}
.debug #graphsSection {
    background-color: orange;
}
.debug #propertiesSection {
    background-color: red;
}
.debug #historySection {
    background-color: aqua;
}

