/* Main layout: layout.gss */


/* Style */
img {
   padding:1px;
   border:1px solid #021a40;
}

.graphEntry .selected {
    color: #333333;
}

label {
    text-align: right;
    padding-right: 10px;
}
label span {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
}
fieldset {
    padding: 0px;
    border: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

input {
    text-align: center;
}

.graphEntry label {
    text-align: center;
    display: block;
}

.bgSizeContain {
    background-size: contain;
    background-repeat: no-repeat;
}
.bgSizeLeft {
    background-position: right;
}

#graphProperties, #parameterSection {
    overflow-y: auto;
    overflow-x: hidden;
}

#graphsSection {
    overflow-y: hidden;
}

#graphList {
    overflow-x: auto;
    overflow-y: hidden;
}

#graphsSection button {
    display: none;
}

* {
    box-sizing: border-box;
}

#version {
    display: none;
}

#historySection {
    display: none;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/* Debug colors */
.debug #apiSection {
    background-color: yellow;
}
.debug #graphsSection {
    background-color: orange;
}
.debug #parameterSection {
    background-color: red;
}
.debug #historySection {
    background-color: aqua;
}

